/* Main */
.Todo,
checkedTodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  min-height: 60px;
  margin: 20px auto;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  background-color: white;
}

.checkedTodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  min-height: 60px;
  margin: 20px auto;
  border-radius: 6px;
  border-style: solid;
  border-color: rgba(177, 177, 177, 0.5);
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0);
}

/*Left container*/

.LeftTodoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
  margin-left: 20px;
}

.journalIcon {
  width: 25px;
  height: 25px;
}

.checkedJournalIcon {
  width: 25px;
  height: 25px;
  filter: invert(0.6);
}

.Text {
  word-wrap: break-word;
  width: 300px;
  text-align: left;
}

.CheckedText {
  word-wrap: break-word;
  width: 300px;
  text-align: left;
  color: rgba(177, 177, 177, 0.5);
}

/*Right container*/

.RightTodoContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
}
