.Button {
  width: 70px;
  height: 40px;
  margin-left: 10px;
  background-color: antiquewhite;
  font-size: 16px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
}

.Button:hover {
  background-color: rgb(255, 224, 187);
}

.Button:active {
  background-color: rgb(248, 215, 176);
}
