.TodoForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoForm_input {
  height: 36px;
  width: 180px;
  border-style: solid;
  border-radius: 5px;
  padding-left: 5px;
}
