.Todo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 500px;
  height: 60px;
  margin: 20px auto;
  border-radius: 6px;
  background-color: white;
}

.journalIcon {
  width: 20px;
  height: 20px;
  margin: 15px;
}
