.App {
  text-align: center;
}

/* Used by default with NavLink*/
/*.active {
  color: lightyellow;
  text-decoration: none;
}
*/

.activeLink {
  color: lightyellow;
  text-decoration: none;
}

a {
  color: lightblue;
  font-size: 35px;
}

nav a {
  margin: 15px;
}

nav {
  background-color: darkslategray;
  padding: 5px;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}
