/*Submit Button*/

.SubmitButton {
  width: 70px;
  height: 40px;
  margin-left: 10px;
  background-color: antiquewhite;
  font-size: 16px;
  font-weight: 500;
  border-style: solid;
  border-radius: 5px;
}

.SubmitButton:hover {
  background-color: rgb(255, 224, 187);
}

.SubmitButton:active {
  background-color: rgb(248, 215, 176);
}

/*Button with Icon*/

.ButtonWithIcon {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.ButtonWithIcon:hover {
  scale: 120%;
}

.Icon :hover {
  scale: 100%;
}

.DeleteCompletedTodosButton {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 118);
}

.DeleteCompletedTodosButton:hover {
  background-color: rgb(255, 255, 172);
}

.DeleteCompletedTodosButton:disabled {
  background-color: rgb(187, 187, 187);
}

.DeleteAllTodosButton {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(253, 253, 181);
}

.DeleteAllTodosButton:hover {
  background-color: rgb(255, 255, 208);
}
